# /.ndmh/requirements.txt
-e .

altair<5.0.0
pandas
numpy<2.0.0
scipy
scikit-learn
xgboost
tensorflow
gymnasium
stable-baselines3[extra]
pmdarima
statsmodels
arch
PyPortfolioOpt
yfinance
matplotlib
seaborn
plotly
joblib
openpyxl
streamlit>=1.30.0
quantstats
protobuf<=3.20.3
pyarrow<15.0.0
