# /.ndmh/requirements.txt
-e .

pandas
numpy
scipy
scikit-learn
xgboost
tensorflow
gymnasium
stable-baselines3[extra]
pmdarima
statsmodels
arch
PyPortfolioOpt
yfinance
matplotlib
seaborn
plotly
joblib
openpyxl
streamlit
quantstats